* {
  margin: 0px;
  padding: 0px;
}

html {
  min-height: 100%;
}

body {
  text-align: center;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  color: #333;
  background: white url(../images/bg_page.gif) no-repeat 50% 0;
  line-height: 18px;
  letter-space: 1.5em;
}

p, h1, h2, h3, ol, ul, dl {
  padding: 2px 6px 8px;
}

ol, ul, dl h1, h2, h3, ol, ul, dl {
  padding: 8px 6px 3px;
}

table, th, td {
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  color: #333;
}

ol, ul, dir, menu, dd {
  margin-left: 40px
}

ol {
  list-style-type: decimal
}

ol ul, ul ol, ul ul, ol ol {
  margin-top: 0;
  margin-bottom: 0
}

#skip {
  display: none;
}

a img, :link img, :visited img {
  border: none;
}

img {
  display: block;
}

a:link {
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover, a:active {
  color: #FF8C00;
}

.alignright {
  text-align: right !important;
}

.floatright {
  float: right;
}

.inline {
  display: inline;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/*\*/
.clearfix {
  display: block;
}

/**/
h1 {
  font-size: 20px;
  line-height: 18px;
}

h2 {
  font: bold 18px Arial;
  COLOR: #000000;
}

h3 {
  font-size: 16px;
  color: #666;
}

#wrapper {
  width: 760px;
  margin: 0 auto;
}

#header {
  position: relative;
  display: block;
  width: 760px;
  height: 102px;
  background: #FFF url(../images/bg_header.gif) repeat-x;
}

#header .logo {
  position: absolute;
  left: 25px;
  top: 35px;
}

#nav {
  display: block;
  width: 760px;
  height: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: #FF8C00 url(../images/bg_nav.gif) repeat-x;
}

#nav li {
  float: left;
  font: bold 12px Arial;
  COLOR: #ffffff;
  TEXT-DECORATION: none
}

#nav li a {
  text-decoration: none;
  display: block;
  padding-left: 55px;
  height: 1%;
  line-height: 26px;
  color: #FFF;
  letter-spacing: 0.06em;
}

#nav li.on {
  text-decoration: none;
  display: block;
  padding-left: 55px;
  height: 1%;
  line-height: 26px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
}

#nav li a:hover {
  text-decoration: none;
  display: block;
  padding-left: 55px;
  height: 1%;
  line-height: 26px;
  color: #4C4C4C;
  TEXT-DECORATION: none;
  letter-spacing: 0.06em;
}
